/* DangKy Dang Nhap */
.wowpik--background {
	background: url(/assets/imagesSau28-6/Background.png) no-repeat;
	background-size: cover;
	min-height: 70vh;
	display: flex;
	flex-direction: column;
}

.dangKy-4buttons,
.dangKy--text--introduce,
.form-group-custom,
.dangNhap--buttons {
	max-width: 750px;
	margin: auto;
}

.dangKyButton {
	border: 1px solid rgb(0, 0, 0);
	width: 15rem;
	height: 3.75rem;
	margin: 1rem;
	color: black;
}
.dangKyButton:hover {
	background: #e5e5e5 !important;
}
.background--dangKyDangNhap {
	background: url(/assets/imagesSau28-6/Background.png) no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	min-height: 91vh;
}
.dangKyArea {
	width: 60%;
	margin-top: 2rem;
	margin-bottom: 2rem;
	flex-grow: 1;
}
.dangKyTextArea {
	margin: auto;
	width: 70%;
}
.form--dangky {
	margin: auto;
	width: 90%;
}

.dangNhapTextArea {
	margin: 3rem auto;
	width: 90%;
}
.dangKyText {
	font-size: 0.875rem;
}
.gg-fb-btn-icons {
	position: absolute;
	left: 1rem;
}
.font-24px-responsive {
	font-size: 1.5rem;
}
.font-24px {
	font-size: 1.5rem;
}

.form-control-custom-dangKy {
	padding: 0 1rem;
	display: inline-block;
	width: 75%;
	border: 1px solid #ced4da;
	height: calc(1.5em + 0.75rem + 2px);
}
.form-group-custom {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}
.submit-btn {
	background: #83c451;
	color: white;
	margin-left: auto;
	text-align: right;
}
.quenMatKhau {
	color: #929292;
	font-size: 0.75rem;
}
.div-rong-custom {
	width: 25%;
}

@media (max-width: 991px) {
	.dangKyButton {
		border: 1px solid rgb(0, 0, 0);
		width: 100%;
		height: 3rem;
		margin: 0 auto 1rem;
	}
	.font-24px-responsive {
		font-size: 1rem;
	}
	.gg-fb-icon-custom-size {
		width: 50%;
	}
}
@media (max-width: 575px) {
	.form-group-custom {
		display: block;
	}
	.form-control-custom-dangKy {
		display: block;
		width: 100%;
	}
	.dangKyTextArea {
		width: 100%;
	}
	.dangNhapTextArea {
		width: 100%;
	}
	.dangKyArea {
		width: 90%;
		margin-top: 0.5rem;
	}
	.gg-fb-btn-icons {
		left: -0.25rem;
	}
	.div-rong-custom {
		width: 0px;
	}
}
