.blog-image {
  object-fit: cover;
  height: 20rem;
}

.blog--image-title {
  max-width: 13rem;
  padding-left: 0.5rem;
  color: white;
  text-transform: uppercase;
  margin-top: 0.5rem;
}

.calender-table {
  background: rgb(220, 220, 220);
  text-align: center;
  width: 20%;
}
.linkTrongCalender {
  font-size: 1.5rem;
  color: white;
}

.calender-table:hover,
.calender-table:active {
  background-color: rgba(130, 195, 73, 1);
}

.calender-table.active {
  background-color: rgba(130, 195, 73, 1);
}
.link-bottom {
  color: #000000;
}

.title-bottom-1 {
  color: #ffffff;
  background-color: rgb(62, 197, 62);
  width: 80%;
}

.title-bottom-2 {
  color: #ffffff;
  background-color: rgb(60, 60, 202);
  width: 80%;
}

.title-bottom-3 {
  color: #ffffff;
  background-color: rgb(114, 146, 250);
  width: 80%;
}
.size-18px {
  font-size: 18px;
}
.sidebar--reponsive {
  width: 25%;
}
.sidebar--item-responsive {
  margin-bottom: 2rem;
}
.sidebar--blog-detail-reponsive {
  width: 25%;
}
.social-button-sharing {
  display: flex;
  flex-direction: column;
}
.sidebar-blog-detail-item-responsive {
  margin-bottom: 2rem;
}
.span--dieuhuong-menu {
  position: absolute;
  transform: translateY(-150%);
}
.calender-custom {
  margin-right: 3rem;
}
.title--blog-bold {
  font-weight: 500;
}
.title--blog-bold:hover {
  font-weight: 700;
}
.text--hover-bold:hover {
  font-weight: 600;
}
@media (max-width: 767.98px) {
  .sidebar--reponsive {
    display: block;
    width: 100%;
    margin-top: -2.5rem;
  }
  .sidebar--item-responsive {
    margin-bottom: 2rem;
    margin-right: 0.5rem;
    width: 100%;
  }

  .sidebar--blog-detail-reponsive {
    width: 100%;
    display: block;
    margin-top: -2.5rem;
  }
  .sidebar-blog-detail-item-responsive {
    margin-right: 0.5rem;
    width: 100%;
  }
  .social-button-sharing {
    position: fixed;
    bottom: 0.7rem;
    left: 0.7rem;
  }
  .span--dieuhuong-menu {
    position: relative;
  }

  .calender-custom {
  }
}
