li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.link-top {
  color: #000000;
  font-weight: bold;
}

.title {
  background-color: rgb(255, 94, 0);
  width: fit-content;
  padding: 0px 15px;
  color: #ffffff;
}

/* month */
.link-month {
  color: #000000;
}

.link-month:focus {
  color: #000000;
  font-weight: bold;
}

/* month table */

.number-month {
  color: #ffffff;
  padding: 10px;
  background-color: rgb(169, 169, 169);
}

.number-link {
  color: #ffffff;
}

.number-month:hover,
.number-month:active {
  background-color: rgb(62, 197, 62);
}

.grid-month {
  margin-bottom: 50%;
  overflow: auto;
}

/* border */
.text-bottom-1 {
  color: #000000;
  border-bottom: rgb(255, 166, 0) solid 2px;
}

.text-bottom-2 {
  color: #000000;
  border-bottom: rgb(57, 252, 57) solid 2px;
}

.text-bottom-3 {
  color: #000000;
  border-bottom: rgb(243, 243, 0) solid 2px;
}

.text-bottom-4 {
  color: #000000;
  border-bottom: rgb(0, 0, 255) solid 2px;
}

.text-bottom-5 {
  color: #000000;
  border-bottom: rgb(114, 146, 250) solid 2px;
}

.text-bottom-6 {
  color: #000000;
  border-bottom: rgb(140, 0, 255) solid 2px;
}
/* image */

/* bottom */
