.responsive-width65-80-95 {
  width: 65%;
  margin: auto;
}

.underline-color {
  border-bottom: 1px solid rgba(230, 86, 37, 1);
}

.card {
  border: none !important;
}
.moi-circle-position {
  position: absolute;
  top: 10%;
  right: 7%;
}
.moi-circle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: #fff;
  line-height: 3rem;
  text-align: center;
  background-color: rgba(230, 86, 37, 1);
  text-transform: uppercase;
}

.viet-phan-hoi-button {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.25rem 1rem;
  background-color: white;
}
.size-2rem {
  font-size: 2rem;
}
.size-21px {
  font-size: 21px;
}
.card-body {
  padding-left: 0;
}
.image--slider-size {
  width: 50%;
}
.play-icon-col-slide {
  background: white;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.play-icon-main-slide {
  background: white;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -3px 3px 3px 0px rgba(0, 0, 0, 0.75);
}
.image--main-slider-size {
  width: 65%;
  height: 100%;
  object-fit: contain;
}
.row-products {
  width: 90%;
  margin: auto;
}
.heart--product-style {
  font-size: 0.5rem;
  margin-right: -0.2rem;
  color: rgba(44, 70, 102, 1);
}
.sanphamlienquan--sizing {
  max-width: 70%;
  font-weight: 600;
}
.title--maxwidth {
  max-width: 70%;
}
.heart--product-title {
  color: rgba(44, 70, 102, 1);
}
/* Video in Product-detail */
.slide-sanpham-doc {
  width: 20%;
}
.slide-sanpham-chinh {
  width: 70%;
}
@media (max-width: 992px) {
  .responsive-width65-80-95 {
    width: 80%;
    margin: auto;
  }
}
@media (max-width: 575px) {
  .image--slider-size {
    width: 75%;
  }
  .heart--product-title {
    font-size: 0.7rem;
    margin-right: -0.2rem;
  }
  .freeship-font-responsive {
    font-size: 1.25rem;
  }
  .viet-phan-hoi-button {
    padding: 0;
    padding: 0.25rem;
    background-color: white;
    font-size: 0.8rem;
  }
  .play-icon-main-slide {
    top: 45%;
  }
  .slide-sanpham-chinh {
    width: 90%;
  }
  .image--main-slider-size {
    width: 100%;
  }
}
