.green-background {
  background: rgb(131, 196, 81);
}

.images-product {
  width: 100%;
  height: 18vw;
  object-fit: contain;
  /* border: 1px solid blue; */
}
.title--products-size {
  width: 66%;
  margin-bottom: 0;
}

.btn:focus,
a:focus {
  outline: none;
  box-shadow: none !important;
}
.carousel-products {
  background-color: white;
  border-radius: 20px;
  height: 9rem;
  width: 9rem;
  object-fit: contain;
}

.carousel-product-title {
  padding-top: 2rem;
  text-align: center;
  font-size: 3rem;
}

.button--next-previous-product {
  background: transparent;
  border: none;
  width: 5rem;
}
.button--next-previous-product:focus {
  outline: none !important;
}

.filter--products {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0;
  border: none;
}
.border--title-filter {
  border-bottom: 1px solid black;
  border-radius: 0;
}
.card-body {
  padding: 1px 0 1px 0.75rem;
}
.filter-link {
  color: black;
}
.filter-link:hover {
  font-weight: bold;
  /* color: black; */
  color: rgba(130, 195, 73, 1);
}
.heart--product-style {
  font-size: 0.5rem;
  margin-right: -0.2rem;
  color: rgba(44, 70, 102, 1);
}

@media (max-width: 992px) {
  .images-product {
    height: 45vw;
  }
}

@media (max-width: 575px) {
  .images-product {
    height: 95vw;
  }
  .freeship-font-responsive {
    font-size: 1.25rem;
  }

  .carousel-product-title {
    font-size: 2rem;
  }
}
