.profile--sidebar {
  font-size: 0.875rem;
  color: black;
}
.profile--sidebar:hover {
  color: rgba(130, 195, 73, 1);
}

.font-14px {
  font-size: 0.875rem;
}

.col-1 {
  padding: 0px;
}

.select-input-custom {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.submit-button {
  font-size: 1.5rem;
  width: 12rem;
  height: 3rem;
  background-color: rgba(130, 195, 73, 1);
  color: white;
  line-height: 2rem;
  font-weight: 400;
}
.add-More {
  margin-top: -0.5rem;
  font-size: 0.675rem;
  padding: 0 !important;
}
.add-More:hover {
  font-weight: bold;
}
